@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic&subset=greek,latin,greek-ext);
@font-face {
    font-family: 'Theano Didot';
    src: url(../ttf/theano-didot.ttf);
}

body {
    font-family: Noto Sans, sans-serif;
    background-color: #717677;
}

h2, h3, h4, h5, h6, a { color: #006A8D; }
h1, h2, h3, h4, h5, h6 { text-align: center; }

a { text-decoration: none; }
a:hover { font-weight: bold; }
ul { list-style: square; }
big { font-size: 72px; }
dd { margin-left: 5px; }

#wrapper {
    width: 1000px;
    margin: 20px auto;
}

#title {
    padding: 5px 0;
    background-color: #006A8D;
    color: white;
    font-family: 'Theano Didot';
    box-shadow: 0px 8px 26px -17px rgba(0,0,0,0.75);
}

#newsticker {
    border-radius: 5px;
    padding: 10px;
    color: #006A8D;
}

#side {
    width: 180px;
    float: left;
    position: fixed;
    background-color: #eee;
    border-top: solid #006a8d 10px;
    border-bottom: solid #006a8d 10px;
}
    #side #logo img {
        width: 100%;
        height: auto;
    }

    nav ul { list-style: none; padding: 0; }
    nav ul li { text-align: center; }
    #side nav ul li a {
        display: block;
        font-weight: bold;
        text-decoration: none;
        padding: 1rem;
        transition-property: color, background-color;
        transition-duration: 300ms, 300ms;
        transition-timing-function: ease-out;
    }
    #side nav ul li a:hover, #side nav ul li a.active {
        background-color: #006A8D;
        color: white;
    }

#langselector { float: right; }

header, #content {
    width: 800px;
    margin: auto;
    float: right;
}

header, #captioned-gallery, article, footer, #side {
    box-shadow: 10px 10px 44px -7px rgba(0,0,0,0.75);
}

main { margin-top: 165px; }

iframe {
    width: 100%;
    height: 600px;
}

header, article { background-color: white; } 
header { margin-bottom: 20px; }
article {
    margin: 10px 0;
    padding: 20px;
    border-top: solid #006a8d 10px;
    border-bottom: solid #006a8d 10px;
}
    article img {
        display: block;
        margin: 0 auto;
        height: 200px; width: auto;
    }
    article img.free {
        display: inline;
        margin: 20px;
        height: 200px; width: auto;
    }
    article h2 {
        padding-bottom: 5px;
        border-bottom: solid #006a8d 2px;
    }
    article section { display: inline-block; overflow: hidden;}
    article section.ingredients {
        float: left;
        width: 25%;
    }
    article section.preparation {
        float: right;
        width: 62.5%;
    }
        article section.preparation .attribution {
            text-align: right;
            font-style: italic;
            color: #717677;
            padding-top: 5px;
        }
    article p.subtitle {
        text-align: center;
        font-style: italic;
        font-size: larger;
    }
article.god {
    width: 27%;
    height: 250px;
    float: left;
    margin: 5px;
    margin-bottom: 10px;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}
article.god:hover {
    background-color: #006a8d;
    transition-timing-function: ease-in;
    color: white;
}
    article.god:hover h2, article.god:hover h3, article.god:hover a {
        color: white;
        border-bottom-color: white;
        transition-property: color, border-bottom-color;
    }

.img-circle {
    border-radius: 50%;
}

div.center {
    width: 33.3%;
    margin: 0 auto;
}

footer {
    clear: both;
    margin: 10px 0;
    background-color: #eee;
    text-align: center;
    padding: 10px;
}

article.newspaper {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 40%; 
    -moz-column-width: 40%; 
    column-width: 40%;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    font-family: 'Theano Modern', serif;
    line-height: 1.45;
    padding: 1em;
}

article.newspaper h1 {
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
  font-size: 2em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}


article.newspaper p {
    margin-bottom: 1.3em;
    text-align: justify;
}

@media screen and (min-width: 1px) and (max-width: 690px) {
    #langselector { display: none; }
    #title { padding: 0px; }
    #title h1 { margin: 0; }
    #newsticker { padding: 5px; }
    
    #side, #wrapper, #content, header {
        width: 100%;
        float: none;
    }
   
    header {
        position: fixed;
        top: 0; left: 0;
        z-index: 10000;
    }
    
    #side {
        position: static;
        margin-top: 85px;
        margin-bottom: 10px;
    }
        #side #logo {
            display: block;
            margin: 0 auto;
            width: 50%; height: auto;
        }
        #side nav h3 { display: none; }
        #side nav ul li a { padding: 0.5rem; }
    
    main { margin-top: 0; }
    
    article section, article section.preparation, article section.ingredients {
        float: none;
        width: 100%;
        display: inline;
    }
    
    article.newspaper {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    
    article.god { width: inherit; float: none; }
}

@media screen and (min-width: 691px) and (max-width: 1010px) {
    #wrapper { width: 100%; }
    #langselector { display: none; }
    #content, #captioned-gallery { width: 78%; }
    header { width: 100%; }
    
    #side {
        width: 20%;
        overflow: hidden;
    }
    
    article.god {
        width: inherit;
        float: none;
    }
    article.newspaper {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}