@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic&subset=greek,latin,greek-ext);
@import url(http://fonts.googleapis.com/css?family=Istok+Web);

body {
    font-family: 'Istok Web', 'Noto Sans', Verdana, sans-serif;
    background-color: #717677;
}

h2, h3, h4, h5, h6, a { color: #006A8D; }

h1, h2, h3, h4, h5, h6 { text-align: center; }

#wrapper {
    width: 1000px;
    margin: 20px auto;
}

#title {
    padding: 10px 0;
    background-color: #006A8D;
    color: white;
    -webkit-box-shadow: 0px 8px 26px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 26px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 26px -17px rgba(0,0,0,0.75);
}

#newsticker {
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: #006A8D;
}

#side {
    width: 180px;
    float: left;
    background-color: #eee;
    border-bottom: solid #006a8d 10px;
}

    #side nav ul { list-style: none; padding: 0; }
    #side nav ul li { text-align: center; }
    #side nav ul li a {
        display: block;
        font-weight: bold;
        text-decoration: none;
        padding: 1rem;
        transition-property: color, background-color;
        transition-duration: 300ms, 300ms;
        transition-timing-function: ease-out;
    }
    #side nav ul li a.language {
        display: inline-block;
        padding: 1.28rem;
    }
    #side nav ul li a:hover, nav ul li a.active {
        background-color: #006A8D;
        color: white;
    }


#langselector {
    
}

#content {
    width: 800px;
    margin: auto;
    float: right;
}

header, #captioned-gallery, article, footer, #side {
    -webkit-box-shadow: 10px 10px 44px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 44px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 44px -7px rgba(0,0,0,0.75);
}

header, article { background-color: white; } 
header { margin-bottom: 10px; }
article { margin-top: 10px; padding: 20px; }

footer {
    clear: both;
    margin-top: 10px;
    background-color: #eee;
    text-align: center;
    padding: 10px;
}
a { text-decoration: none; }
a:hover { font-weight: bold; }