@import url(http://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
  0% { left: 0%; }
  15% { left: 0%; }
  20% { left: -100%; }
  35% { left: -100%; }
  40% { left: -200%; }
  55% { left: -200%; }
  60% { left: -300%; }
  75% { left: -300%; }
  80% { left: -400%; }
  95% { left: -400%; }
  100% { left: -400%; }
}

div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}

figure { 
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  text-align: center;
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
}
  figure.slider figure { 
    width: 20%; height: auto;
    display: inline-block;  position: inherit; 
  }
    figure.slider figure figcaption { 
      position: absolute; bottom: 0;
      background: rgba(0,0,0,0.4);
      color: #fff; width: 100%;
      font-size: 2rem; padding: .6rem; 
    }
  figure.slider img { width: 100%; height: auto; }

